image:
  repository: coredns/coredns

replicaCount: 3

prometheus:
  service:
    enabled: true

service:
  name: neutron-coredns
  clusterIP: "10.96.0.20"

isClusterService: false

servers:
  - port: 53
    zones:
      - zone: .
    plugins:
      - name: errors
      - name: ready
      - name: health
        configBlock: |-
          lameduck 5s
      - name: prometheus
        parameters: 0.0.0.0:9153
      - name: cache
      - name: reload
      - name: loadbalance
      - name: forward
        parameters: . 127.0.0.1:5301 127.0.0.1:5302
  - port: 5301
    zones:
      - zone: .
    plugins:
      - name: forward
        parameters: . tls://1.1.1.1 tls://1.0.0.1
        configBlock: |-
          tls_servername cloudflare-dns.com
          health_check 5s
  - port: 5302
    zones:
      - zone: .
    plugins:
      - name: forward
        parameters: . tls://8.8.8.8 tls://8.8.4.4
        configBlock: |-
          tls_servername dns.google
          health_check 5s

nodeSelector:
  openstack-control-plane: enabled

customLabels:
  application: neutron
  component: coredns

deployment:
  name: neutron-coredns
