# src/daalu/bootstrap/monitoring/assets/kube-prometheus-stack/values.yaml

defaultRules:
  create: true

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: general
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 100Gi

grafana:
  enabled: true
  grafana.ini:
    auth:
      disable_login_form: false
    auth.generic_oauth:
      enabled: true
      name: Keycloak
      allow_sign_up: true
      client_id: $__file{/etc/secrets/keycloak/client_id}
      client_secret: $__file{/etc/secrets/keycloak/client_secret}
      scopes: openid profile email roles
      auth_url: https://keycloak.daalu.io/realms/daalu/protocol/openid-connect/auth
      token_url: https://keycloak.daalu.io/realms/daalu/protocol/openid-connect/token
      api_url: https://keycloak.daalu.io/realms/daalu/protocol/openid-connect/userinfo
      login_attribute_path: preferred_username
      email_attribute_path: email

  extraSecretMounts:
    - name: keycloak-client
      secretName: grafana-keycloak-client
      mountPath: /etc/secrets/keycloak
      readOnly: true
      defaultMode: 0440


alertmanager:
  enabled: true
