- name: Ensure Jenkins namespace exists
  delegate_to: localhost
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ jenkins_helm_release_namespace }}"
    state: present
    kubeconfig: "/home/kez/.kube/mgmt_config"
  delegate_to: localhost
  run_once: true

- name: Create Jenkins Service Account and RBAC
  delegate_to: localhost
  kubernetes.core.k8s:
    state: present
    src: "{{ role_path }}/files/jenkins-02-sa.yaml"
    kubeconfig: "{{ jenkins_helm_kubeconfig }}"
  run_once: true
  delegate_to: localhost

- name: Create StorageClass 'general' (for Jenkins PVCs)
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: general
      provisioner: rancher.io/local-path
      volumeBindingMode: WaitForFirstConsumer
      reclaimPolicy: Delete
      # optional: add parameters if your provisioner needs them
      # parameters: {}
  delegate_to: localhost
  run_once: true


- name: Deploy Jenkins Helm chart
  delegate_to: localhost
  run_once: true
  kubernetes.core.helm:
    name: "{{ jenkins_helm_release_name }}"
    chart_ref: "{{ jenkins_helm_chart_ref }}"
    release_namespace: "{{ jenkins_helm_release_namespace }}"
    create_namespace: true
    kubeconfig: "{{ jenkins_helm_kubeconfig }}"
    values: "{{ _jenkins_helm_values | combine(jenkins_helm_values, recursive=True) }}"

- name: Ensure Argo CD is installed and list apps
  ansible.builtin.include_role:
    name: common
    tasks_from: argocd_check

- name: Onboard Jenkins service to Argo CD if needed
  ansible.builtin.include_tasks: argocd_onboard.yml


- name: Create Jenkins Service Account and RBAC
  kubernetes.core.k8s:
    state: present
    src: "{{ role_path }}/files/jenkins-02-sa.yaml"
    kubeconfig: "{{ jenkins_helm_kubeconfig }}"
  run_once: true
  delegate_to: localhost

- name: Deploy Jenkins Helm chart
  run_once: true
  kubernetes.core.helm:
    name: "{{ jenkins_helm_release_name }}"
    chart_ref: "{{ jenkins_helm_chart_ref }}"
    release_namespace: "{{ jenkins_helm_release_namespace }}"
    create_namespace: true
    kubeconfig: "{{ jenkins_helm_kubeconfig }}"
    values: "{{ _jenkins_helm_values | combine(jenkins_helm_values, recursive=True) }}"

- name: Ensure Argo CD is installed and list apps
  ansible.builtin.include_role:
    name: common
    tasks_from: argocd_check

- name: Onboard Jenkins service to Argo CD if needed
  ansible.builtin.include_tasks: argocd_onboard.yml
