- name: Download Argo CD app manifest via GitHub v3 API
  ansible.builtin.uri:
    url: "https://api.github.com/repos/kiwueke1/argocd-infrastructure-app/contents/apps/istio/istio.yaml"
    method: GET
    return_content: true
    headers:
      Accept: "application/vnd.github.v3.raw"
      Authorization: "token {{ github_token }}"
  register: app_manifest

- name: Write Argo CD app manifest to file
  ansible.builtin.copy:
    dest: "/tmp/{{ item.key }}-argocd-app.yaml"
    content: "{{ app_manifest.content }}"

- name: Apply Argo CD Application {{ item.key }}
  kubernetes.core.k8s:
    state: present
    src: "/tmp/{{ item.key }}-argocd-app.yaml"
    kubeconfig: "{{ istio_helm_kubeconfig }}"
