# Copyright (c) 2024 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

opensearch_helm_release_name: opensearch
opensearch_helm_chart_path: "../../../charts/opensearch/"
opensearch_helm_chart_ref: /usr/local/src/opensearch
opensearch_helm_release_namespace: observability
opensearch_helm_kubeconfig: "{{ kubeconfig_path | default('/etc/kubernetes/admin.conf') }}"
opensearch_helm_values: {}

_opensearch_helm_values:
  clusterName: opensearch-cluster
  replicas: 3
  minimumMasterNodes: 2
  persistence:
    enabled: true
    size: 50Gi
  resources:
    requests:
      memory: 2Gi
      cpu: 1
    limits:
      memory: 4Gi
      cpu: 2
