deploymentMode: SingleBinary

loki:
  auth_enabled: false
  server:
    log_level: warn

  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem

  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/name: loki
            topologyKey: kubernetes.io/hostname

  compactor:
    working_directory: /var/loki/compactor
    compaction_interval: 10m
    retention_enabled: true
    delete_request_store: filesystem
    retention_delete_delay: 2h
    retention_delete_worker_count: 150

  limits_config:
    max_label_names_per_series: 25
    retention_period: 30d

  rulerConfig:
    alertmanager_url: http://alertmanager-operated.monitoring:9093
    enable_alertmanager_v2: true
    enable_api: true
    rule_path: /var/loki/rules-temp
    ring:
      kvstore:
        store: inmemory
    storage:
      type: local
      local:
        directory: /var/loki/rulestorage

singleBinary:
  replicas: 1
  nodeSelector:
    openstack-control-plane: enabled
  persistence:
    size: 256Gi
  extraVolumes:
    - name: rules
      configMap:
        name: loki-alerting-rules
  extraVolumeMounts:
    - name: rules
      mountPath: /var/loki/rulestorage/fake

write:
  replicas: 0
read:
  replicas: 0
backend:
  replicas: 0

gateway:
  nodeSelector:
    openstack-control-plane: enabled

lokiCanary:
  enabled: false

test:
  enabled: false

singleBinary:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

gateway:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

memcached:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

memcachedExporter:
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
