- name: Check if Rook Ceph Cluster is already added to Argo CD
  ansible.builtin.debug:
    msg: "Rook Ceph Cluster already onboarded to Argo CD"
  when: "'rook_ceph_cluster' in argocd_apps_list | map('lower') | list"
  delegate_to: localhost
  run_once: true

- name: Download and apply Rook Ceph Cluster Argo CD app if not already present
  block:
    - name: Download Argo CD app manifest via GitHub v3 API
      ansible.builtin.uri:
        url: "https://api.github.com/repos/kiwueke1/argocd-infrastructure-app/contents/apps/openstack/rook_ceph_cluster/rook_ceph_cluster.yaml"
        method: GET
        return_content: true
        headers:
          Accept: "application/vnd.github.v3.raw"
          Authorization: "token {{ github_token }}"
      register: rook_ceph_cluster_raw_yaml
      delegate_to: localhost
      run_once: true

    - name: Write Argo CD app manifest to file
      ansible.builtin.copy:
        dest: /tmp/rook-ceph-cluster-argocd-app.yaml
        content: "{{ rook_ceph_cluster_raw_yaml.content }}"
      delegate_to: localhost
      run_once: true

    - name: Apply Rook Ceph Cluster Argo CD app
      ansible.builtin.command:
        cmd: kubectl apply --kubeconfig {{ kubeconfig_path_local }} -f /tmp/rook-ceph-cluster-argocd-app.yaml
      register: apply_rook_ceph_cluster_argocd
      changed_when: "'configured' in apply_rook_ceph_cluster_argocd.stdout or 'created' in apply_rook_ceph_cluster_argocd.stdout"
      delegate_to: localhost
      run_once: true

  when: "'rook_ceph_cluster' not in argocd_apps_list | map('lower') | list"
