clusterName: opensearch-cluster
minimumMasterNodes: 1

persistence:
  enabled: true
  size: 50Gi

resources:
  requests:
    memory: 2Gi
    cpu: 1
  limits:
    memory: 4Gi
    cpu: 2

global:
  security:
    allowInsecureImages: true

securityConfig:
  enabled: false

extraEnvs:
  - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: opensearch-admin-password
        key: OPENSEARCH_INITIAL_ADMIN_PASSWORD

