---
galaxy_info:
  author: You
  description: Ansible role for onboarding vcluster into Argo CD
  license: Apache-2.0
  min_ansible_version: 5.5.0
  standalone: false
  platforms:
    - name: Ubuntu
      versions:
        - focal
        - jammy

dependencies:
  - role: defaults
