galaxy_info:
  author: Your Company
  description: Ansible role for Jenkins
  license: Apache-2.0
  min_ansible_version: 5.5.0
  platforms:
    - name: Ubuntu
      versions:
        - focal
        - jammy

dependencies:
  - role: defaults
  - role: vexxhost.kubernetes.upload_helm_chart
    vars:
      upload_helm_chart_src: "{{ jenkins_helm_chart_path }}"
      upload_helm_chart_dest: "{{ jenkins_helm_chart_ref }}"
