- name: Check if Libvirt is already added to Argo CD
  ansible.builtin.debug:
    msg: "Libvirt already onboarded to Argo CD"
  when: "'libvirt' in argocd_apps_list | map('lower') | list"
  delegate_to: localhost
  run_once: true

- name: Download and apply Libvirt Argo CD app if not already present
  block:
    - name: Download Argo CD app manifest via GitHub v3 API
      ansible.builtin.uri:
        url: "https://api.github.com/repos/kiwueke1/argocd-infrastructure-app/contents/apps/openstack/libvirt/libvirt.yaml"
        method: GET
        return_content: true
        headers:
          Accept: "application/vnd.github.v3.raw"
          Authorization: "token {{ github_token }}"
      register: libvirt_raw_yaml
      delegate_to: localhost
      run_once: true

    - name: Write Argo CD app manifest to file
      ansible.builtin.copy:
        dest: /tmp/libvirt-argocd-app.yaml
        content: "{{ libvirt_raw_yaml.content }}"
      delegate_to: localhost
      run_once: true

    - name: Apply Libvirt Argo CD app
      ansible.builtin.command:
        cmd: kubectl apply --kubeconfig "/etc/kubernetes/admin.conf" -f /tmp/libvirt-argocd-app.yaml
      register: apply_libvirt_argocd
      changed_when: "'configured' in apply_libvirt_argocd.stdout or 'created' in apply_libvirt_argocd.stdout"
      delegate_to: localhost
      run_once: true

  when: "'libvirt' not in argocd_apps_list | map('lower') | list"
