# src/daalu/bootstrap/infrastructure/assets/istio/istio-ingressgateway-values.yaml

labels:
  istio: ingressgateway

service:
  type: LoadBalancer
  ports:
    - name: http2
      port: 80
      targetPort: 8080
    - name: https
      port: 443
      targetPort: 8443

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi
