# Ubuntu specific worker kubeadm config
preKubeadmCommands:
  - sed -i "s/MACAddressPolicy=persistent/MACAddressPolicy=none/g" /usr/lib/systemd/network/99-default.link
  - netplan apply
  - ENO2_IP=$(ip -4 addr show {{ bmh_nic_names[1] }} | grep -oP 'inet \K[0-9.]+' | head -1) && echo "KUBELET_EXTRA_ARGS=--node-ip=${ENO2_IP}" > /etc/default/kubelet
  - systemctl enable --now crio
  - sleep 30
  - systemctl enable --now kubelet
  - sleep 120
files:
  - path : /etc/netplan/52-ironicendpoint.yaml
    owner: root:root
    permissions: '0600'
    content: |
      network:
        version: 2
        renderer: networkd
        bridges:
          {{ IRONIC_ENDPOINT_BRIDGE }}:
            interfaces: [{{ bmh_nic_names[0] }}]
            addresses:
            - {{ "{{ ds.meta_data.provisioningIP }}" }}/{{ "{{ ds.meta_data.provisioningCIDR }}" }}
  - path : /etc/containers/registries.conf
    content: |
       [registries.search]
       registries = ['docker.io']

       [registries.insecure]
       registries = ['{{ REGISTRY }}']
