# Copyright (c) 2022 VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

#- name: Create Ingress {{ ingress_name }}
#  run_once: true
# kubernetes.core.k8s:
#    state: present
#    template: ingress.yml.j2


- name: Create Ingress {{ ingress_name }}
  run_once: true
  kubernetes.core.k8s:
    state: present
    template: ingress.yml.j2
    kubeconfig: "{{ atmosphere_kubeconfig }}"

- name: Add MetalLB Helm repo
  run_once: true
  delegate_to: "{{ inventory_hostname }}"
  ansible.builtin.command: helm repo add metallb https://metallb.github.io/metallb
  args:
    creates: ~/.cache/helm/repository/metallb-index.yaml

- name: Update Helm repos
  run_once: true
  delegate_to: "{{ inventory_hostname }}"
  ansible.builtin.command: helm repo update

- name: Deploy MetalLB using Helm
  kubernetes.core.helm:
    name: metallb
    chart_ref: metallb/metallb
    release_namespace: metallb-system
    create_namespace: true
    kubeconfig: "{{ atmosphere_kubeconfig }}"
    values:
      controller:
        enabled: true
      speaker:
        enabled: true
  run_once: true

- name: Wait for MetalLB pods to be ready
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: metallb-system
    kubeconfig: "{{ atmosphere_kubeconfig }}"
  register: metallb_pods
  until: metallb_pods.resources | selectattr('status.phase', 'equalto', 'Running') | list | length >= 2
  retries: 20
  delay: 10
  run_once: true

- name: Copy metallb-config.yaml to remote host
  run_once: true
  delegate_to: "{{ inventory_hostname }}"
  ansible.builtin.copy:
    src: /home/kez/Documents/kubernetes-projects/openstack/openstack-atmosphere/metallb-config.yml
    dest: /tmp/metallb-config.yaml
    mode: '0644'

- name: Apply MetalLB IPAddressPool and L2Advertisement from config file
  run_once: true
  kubernetes.core.k8s:
    state: present
    src: /tmp/metallb-config.yaml
    kubeconfig: "{{ atmosphere_kubeconfig }}"

- name: Patch ingress service to type LoadBalancer
  kubernetes.core.k8s:
    state: patched
    kind: Service
    namespace: "{{ ingress_namespace | default('default') }}"
    name: "{{ ingress_service_name | default('ingress-nginx-controller') }}"
    merge_type: strategic-merge
    kubeconfig: "{{ atmosphere_kubeconfig }}"
    definition:
      spec:
        type: LoadBalancer
  run_once: true
