
- name: Add MetalLB Helm repo
  run_once: true
  delegate_to: "{{ inventory_hostname }}"
  ansible.builtin.command: helm repo add metallb https://metallb.github.io/metallb
  args:
    creates: ~/.cache/helm/repository/metallb-index.yaml

- name: Update Helm repos
  run_once: true
  delegate_to: "{{ inventory_hostname }}"
  ansible.builtin.command: helm repo update

- name: Deploy MetalLB Helm chart
  run_once: true
  kubernetes.core.helm:
    name: "{{ metallb_helm_release_name }}"
    chart_ref: "{{ metallb_helm_chart_ref }}"
    release_namespace: "{{ metallb_helm_release_namespace }}"
    create_namespace: true
    kubeconfig: "{{ atmosphere_kubeconfig }}"
    values: "{{ _metallb_helm_values | combine(metallb_helm_values, recursive=True) }}"

- name: Wait for MetalLB pods to be ready
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: metallb-system
    kubeconfig: "{{ atmosphere_kubeconfig }}"
  register: metallb_pods
  until: metallb_pods.resources | selectattr('status.phase', 'equalto', 'Running') | list | length >= 2
  retries: 20
  delay: 10
  run_once: true

- name: Copy metallb-config.yaml to remote host
  run_once: true
  delegate_to: "{{ inventory_hostname }}"
  ansible.builtin.copy:
    src: "{{ metallb_config_src | default('../vars/metallb-config.yml') }}"
    dest: /tmp/metallb-config.yaml
    mode: '0644'

- name: Apply MetalLB IPAddressPool and L2Advertisement from config file
  run_once: true
  kubernetes.core.k8s:
    state: present
    src: /tmp/metallb-config.yaml
    kubeconfig: "{{ atmosphere_kubeconfig }}"

#- name: Ensure Argo CD is installed and list apps
#  ansible.builtin.include_role:
#    name: common
#    tasks_from: argocd_check

#- name: Onboard current service to Argo CD if needed
#  ansible.builtin.include_tasks: argocd_onboard.yml
