---
- name: Ensure destination namespace exists
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ kubeflow_vcluster_destination_namespace }}"
    kubeconfig: "{{ atmosphere_kubeconfig | default(omit) }}"

- name: Ensure Argo CD is installed and list apps
  ansible.builtin.include_role:
    name: common
    tasks_from: argocd_check

- name: Onboard vcluster service to Argo CD if needed
  ansible.builtin.include_tasks: argocd_onboard.yml
