# ================================
# Proxmox Access Secret
# ================================
apiVersion: v1
kind: Secret
metadata:
  name: {{ proxmox_secret_name }}
  namespace: {{ namespace }}
type: Opaque
stringData:
  url: "{{ proxmox_url }}"
  token: "{{ proxmox_token }}"
  secret: "{{ proxmox_secret }}"
