{{- if and .Values.msgTopologyOperator.enabled .Values.msgTopologyOperator.rbac.create -}}
{{- $readonlyVerbs := list "get" "list" "watch" }}
{{- $allVerbs := list "create" "delete" "deletecollection" "get" "list" "patch" "update" "watch" }}
{{- $roles := dict "view" $readonlyVerbs "edit" $allVerbs "admin" $allVerbs }}
{{- range $role, $verbs := $roles -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "rmqco.msgTopologyOperator.fullname.namespace" $ }}-{{ $role }}
  labels:
    {{- include "rmqmto.labels" $ | nindent 4 }}
    rbac.authorization.k8s.io/aggregate-to-{{ $role }}: "true"
  {{- if $.Values.commonAnnotations }}
  annotations: {{- include "cloudpirates.tplvalues.render" ( dict "value" $.Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
rules:
  - apiGroups:
      - rabbitmq.com
    resources:
      - bindings
      - exchanges
      - federations
      - operatorpolicies
      - permissions
      - policies
      - queues
      - schemareplications
      - shovels
      - superstreams
      - topicpermissions
      - users
      - vhosts
    verbs: {{ $verbs | toYaml | nindent 6 }}
{{ end }}
{{- end -}}
