apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:

  name: default-pool
  namespace: metallb-system
spec:
  addresses:
    - 10.10.1.100-10.10.1.250
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default-advertisement
  namespace: metallb-system
spec:
  ipAddressPools:
    - default-pool

