images:
  tags:
    glance_api: docker.io/openstackhelm/glance:2024.1-ubuntu_jammy
    glance_db_sync: docker.io/openstackhelm/glance:2024.1-ubuntu_jammy
    glance_metadefs_load: docker.io/openstackhelm/glance:2024.1-ubuntu_jammy
    db_init: docker.io/openstackhelm/heat:2024.1-ubuntu_jammy
    db_drop: docker.io/openstackhelm/heat:2024.1-ubuntu_jammy
    ks_user: docker.io/openstackhelm/heat:2024.1-ubuntu_jammy
    ks_service: docker.io/openstackhelm/heat:2024.1-ubuntu_jammy
    ks_endpoints: docker.io/openstackhelm/heat:2024.1-ubuntu_jammy
    bootstrap: docker.io/openstackhelm/heat:2024.1-ubuntu_jammy
    rabbit_init: docker.io/rabbitmq:3.13-management
    glance_storage_init: docker.io/openstackhelm/ceph-config-helper:ubuntu_jammy_18.2.2-1-20240312
storage: rbd
bootstrap:
  enabled: true
pod:
  replicas:
    api: 1
conf:
  glance:
    DEFAULT:
      log_config_append: null
      show_image_direct_url: true
      show_multiple_locations: true
      enable_import_methods: "[]"
      workers: 8
    cors:
      allowed_origins: "*"
    database:
      connection_recycle_time: 600
      max_overflow: 50
      max_pool_size: 5
      pool_timeout: 30
    image_format:
      disk_formats: aki,ari,qcow2,raw
    oslo_messaging_notifications:
      driver: noop
  rabbitmq:
    policies: []
manifests:
  ingress_api: false
  service_ingress_api: false
