query:
  enabled: true

store:
  enabled: true

compact:
  enabled: true

bucketweb:
  enabled: true
  resources:
    limits:
      cpu: 150m
      memory: 192Mi
      ephemeral-storage: 2Gi
    requests:
      cpu: 100m
      memory: 128Mi
      ephemeral-storage: 50Mi

global:
  security:
    allowInsecureImages: true