apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ kubeflow_vcluster_app_name }}
  namespace: {{ kubeflow_vcluster_namespace }}
spec:
  project: {{ kubeflow_vcluster_project }}
  source:
    chart: {{ kubeflow_vcluster_chart }}
    repoURL: {{ kubeflow_vcluster_repo_url }}
    targetRevision: {{ kubeflow_vcluster_target_revision }}
    helm:
      releaseName: {{ kubeflow_vcluster_release_name }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ kubeflow_vcluster_destination_namespace }}
